meta(charset="utf-8")
meta(content="telephone=no" name="format-detection")
meta(content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" name="viewport")
!= newrelic.getBrowserTimingHeader()
!= head.title
style(type="text/css")
  != css
each path in fontPaths
  link(rel="prefetch" href=path)
link(href=faviconPath rel="icon" type="image/png")
link(href=manifestPath rel="manifest")
!= head.link
!= head.meta
